// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap');

/*-- scss:defaults --*/
// Override theme settings (see ../template/settings.scss)
// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #fcfbf9;

// Primary/body text
$mainFont: 'Jost', sans-serif;
$mainFontSize: 30px;
$mainColor: #333;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Abhaya Libre', Impact, sans-serif;
$headingColor: #006791;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.00em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;

$codeFont: monospace;

// Links and actions
$linkColor: #437597;
$linkColorHover: darken( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;

// start using css here
#title-slide > h1 {
  color: white;
}

#title-slide .author {
  color: white;
}

#title-slide {
  top: 0 !important;
}

#title-slide > .author:first-of-type {
  margin-top: 320px;
}